@model HahaFrame.Web.Models.FrameViewModel

@{
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
    ViewBag.Title = "HahaFrame - " + Model.Frame.Title;
    ViewBag.MetaDescription = Model.Frame.MetaDescription;
    ViewBag.MetaKeywords = "funny pictures";
}

@section Header
{
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Frame.Title" />
    <meta property="og:description" content="@Model.Frame.MetaDescription" />
    <meta property="og:url" content="http://hahaframe.com/@Model.WebName/@(Model.Frame.FrameId + "_" + Model.Frame.WebName)" />
    <meta property="og:site_name" content="HahaFrame" />
    <meta property="article:publisher" content="https://www.facebook.com/pages/HahaFrame/1649809568597640" />
    <meta property="og:image" content="http://hahaframe.com/frames/@Model.Frame.PhotoUrl?preset=frames" />

}

<!-- Blog Detail Started -->
<div class="blogdetail sections">
    <div class="bootstrap-carousel center-block" style="text-align:center;">
        <img src="/frames/@Model.Frame.PhotoUrl?preset=frames" alt="" class="img-responsive" style="max-width:670px;margin:auto;" />
    </div>
    @*<div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="avatar">
                <figure>
                    <a href="blog-fullwidth.html"><img src="images/avatar.gif" alt=""></a>
                </figure>
                <h5>By Kax Miller</h5>
                <p>
                    Subdue two bring earth divide morning give sea.
                </p>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="blogtext">
                <h2 class="heading">Is Said Light Saying</h2>
                <div class="clearfix"></div>
                <div class="blogmetas">
                    <ul>
                        <li><i class="fa fa-calendar"></i>25-03-2014</li>
                        <li>
                            <i class="fa fa-align-justify"></i>
                            <a href="#">News, </a>
                            <a href="#">Videos, </a>
                            <a href="#">Music</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <p>
                    Subdue two bring earth divide morning give sea. His fish gathering above you're you'll great you're subdue. Brought hath doesn't, divide great sixth there years you seed be stars made there to. Air replenish greater behold night beast. Given first Firmament fly. To after air you're the. Their i had had their own from fifth from greater forth light man Fowl, male saying. May brought bearing abundantly itself for heaven.
                </p>
                <p>
                    Fifth our evening day whose was won't a. Tree good seasons, darkness is. He. Creature moving land one above. Herb moving. Is their. Deep. Him deep his you creature his herb fifth midst.
                </p>
                <p>
                    His. Shall grass In our bring moved. Form for rule moving all is second had. Whales own appear divide upon bring face sea. Itself. You creature you're god in which moveth light Yielding male fifth shall it third winged she'd divided have form light hath. Deep evening. Yielding seed from fruitful likeness divided multiply. Sixth yielding saw. Seed unto very after. Form he fish. Fourth open. Unto female place. Multiply shall brought wherein lights that of creeping without. She'd. Was give greater they're darkness tree divided seas. Hath dominion whose us doesn't one place firmament i years, divided. Make all cattle brought seed lesser living lesser cattle evening us without fruit gathered. Under thing She'd also darkness saw had which fowl air rule greater. Whales fill. Day land appear gathering, darkness forth, evening green kind created. Yielding days. Whales shall face from. You replenish, so forth rule us day third meat. Spirit itself. Was which. Seed above which for us kind lights without night all called had void gathering above land fourth light. From is. Make open shall. Together image him said seas form. Have beast gathered.
                </p>
            </div>
        </div>
    </div>*@
</div>
<!-- Blog Detail End -->
<div class="clearfix"></div>
<!-- Contents Section Started -->
<div class="sections">
    <h2 class="heading">Related Posts</h2>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="blogposttwo">
                <figure>
                    <a href="blogdetail-double-sidebar.html">
                        <img src="images/img10.jpg" class="img-responsive hovereffect" alt="" />
                    </a>
                </figure>
                <div class="text">
                    <h4><a href="blogdetail-double-sidebar.html">Waters Years</a></h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>25-03-2014</li>
                        <li>
                            <i class="fa fa-align-justify"></i>
                            <a href="#">News</a>
                        </li>
                    </ul>
                    <a href="blogdetail-double-sidebar.html" class="btn btn-primary btn-xs backcolor">Read More</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="blogposttwo">
                <figure>
                    <a href="blogdetail-double-sidebar.html">
                        <img src="images/img11.jpg" class="img-responsive hovereffect" alt="" />
                    </a>
                </figure>
                <div class="text">
                    <h4><a href="#">Fourth Winged</a></h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>25-03-2014</li>
                        <li>
                            <i class="fa fa-align-justify"></i>
                            <a href="#">News</a>
                        </li>
                    </ul>
                    <a href="blogdetail-double-sidebar.html" class="btn btn-primary btn-xs backcolor">Read More</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="blogposttwo">
                <figure>
                    <a href="#">
                        <img src="images/img12.jpg" class="img-responsive hovereffect" alt="" />
                    </a>
                </figure>
                <div class="text">
                    <h4><a href="blogdetail-double-sidebar.html">Gathering Creepeth</a></h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>25-03-2014</li>
                        <li>
                            <i class="fa fa-align-justify"></i>
                            <a href="#">News</a>
                        </li>
                    </ul>
                    <a href="blogdetail-double-sidebar.html" class="btn btn-primary btn-xs backcolor">Read More</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Contents Section End -->
<div class="clearfix"></div>
<!-- Contents Section Started -->
<div class="sections">
    <div id="comments">
        <div class="fb-comments" data-href="http://hahaframe.com/@Model.WebName/@Model.Frame.FrameId-@Model.Frame.WebName" data-width="1222" data-numposts="5" data-colorscheme="light"></div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- Contents Section End -->

@section Breadcrumbs
{
    <!-- Bread Crumb Start -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/@Model.WebName">@Model.Title</a></li>
            <li class="active">@Model.Frame.Title</li>
        </ol>
    </div>
    <!-- Bread Crumb End -->
}